
a{

	text-decoration:none;
	color: #000000;
}
ul{
	list-style: none;
}
.main-container-wrapper{
	font-family: Arial;
	
	
}
 .header-top{
 	background-color:#7dd9e8;
 
}
.header-top-content{
	padding-top: 20px;
	padding-bottom: 15px;
}

.logo{
	width: 224px;
	float: left;
	max-height: 50px;
}

.search{
	width: 336px;
	margin: auto 24px;
	background-image: url("../images/search-background.png");
	background-repeat: no-repeat;
	float:right;
	margin-top: 18px;

}
.texts{
	width: 277px;
	float: left;
	
}
.buttons{
	width:auto;
	float: right;
	border: none;
	background: transparent;
	color: #ffffff;
	font-size: 12px;
	line-height: 22px;
	padding-right: 8px;
	padding-left:8px; 
}

.enter{
	background: transparent;
	width: 244px;
	line-height: 22px;
	float: left;
	border: none;
	font-size: 12px;
	padding-right: 4px;
	padding-left:4px; 

}
.X{
	background: transparent;
	width: 18px;
	float: right;
	border: none;

	font-size: 12px;
	line-height: 22px;

}




.logo-and-search{
	
	width: auto;
	float: left;
}


.user-info{
	width: auto;
	float: right;
	margin-top: 4px;
}

.username{
	text-align: right;
	font-size: 15px;
}
.user-nav ul li{
	width: auto;
	float:left;
	
	padding: auto ;
}

.user-nav ul li a{
	font-size: 12px;
}



.header-bottom{
	background-color: #f5f5f5;
}

.header-bottom-content{
	width: 938px;
	margin: auto;
}
.header-bottom-nav ul li{
	width: auto;
	float: left;
	padding: 11px 17px;
	

}

.header-bottom-nav ul li a{
	font-size: 14px;
}

.header-bottom-nav ul li:first-child{
	padding-left: 10px;

}

.header-bottom-nav{
	width: auto;
	float:left;
}
.right-list{
	width: auto;
	float: right;
	margin-top: 12px;
}

.topic-box{
	float: left;
	background-image: url("../images/topic-box.png");
	background-repeat: no-repeat;

}
.friend-request-menu{
	float:right;
	background-image: url("../images/friend-request.png");
	background-repeat: no-repeat;
}

.topic-box ul li{
	margin: auto 20px;
	font-size: 12px;
}
.topic-box ul li:first-child{
	margin-right: 30px;
}

.friend-request-menu ul li{
	margin: auto 26px;
	font-size: 12px;
}
.friend-request-menu ul li:first-child{
	margin-right: 0px;
}

.right-list span{
	font-size: 12px;
}


.left-container{
	width: 738px;
	float:left;

}

.side-nav ul li a{
	font-size: 11px;
	display: block;
	width: 110px;
	float: left;


}

.side-nav ul li {
	padding:  14px 10px 10px 10px;
	line-height: 13px;
	float: left;
	width: 174px;	
}

.side-nav ul li:hover{
	background-color: #ffffff;
}


.side-nav-heading{
	line-height: 42px;
	background-color: #2fc1da;
	padding: 0px 12px;
	color: #ffffff;
}

.side-nav ul li span a{
	display: table;
	vertical-align: middle;
	width: auto;
	float: left;
	padding-left: 45px;
	margin-bottom:  
}
	
		





















.entries {
	line-height: 22px;
		font-size: 30px;

 	
	/*padding-top:11px;
	padding-bottom: 9px;*/
	

}

.tabs-container{
	background-image:url("../images/tabs-background.png");
	margin-top: 11px;


}

.upper-tab{
	width: 518px;
	float: left;
}

.all-entries{
	width: 160px;
	float:left;

}
.all-entries p{
	float:right;
	margin-bottom: 8px;
	margin-top: 14px;
	font-size: 13px;
}
.subscribed{
	width: 160px;
	float:right;
	margin-bottom: 8px;
	margin-top: 14px;
	font-size: 13px;

}
.left-tabs{
	width: auto;
	float: left;
}


.left-tabs ul{
	list-style: none;
}

.left-tabs ul li{
	width: 114px;
	 float:left;
	 margin: 0px 10px;
	 line-height: 30px;
	  
	 text-align: center;
	 background-image: url("../images/non-hover.png");
	 background-repeat: no-repeat;
}
.left-tabs ul li a,.right-tabs ul li a{
	font-size: 12px;
}

.left-tabs ul li:first-child{
	margin-right:0px;
}

.left-tabs ul li:hover{
	background-image: url("../images/hover-state-blue.png");
}

.left-tabs ul li:last-child{
	margin-right:0px;
	margin-left:0px;
}

.active{
	background-image: url("../images/hover-state-blue.png");
}



.news{
	padding: 12px 0px 13px 0px;
	border-bottom: solid 1px #dddddd;
}



 .news-image{
 	position: relative;
 	width: 70px;
 	float: left;
 }

 .news-story{
 	width: 438px;
 	float: right;
 }

 .frame{
 	position: absolute;
 	top:0px;


 }

 .by{
 	color: #616161;
 	display: inline-block;
}

.news-story-heading{
padding-bottom: 1px;
font-size: 16px;
}
 .by span{
 	width:auto;
 	float: left;
 	padding-bottom: 0px;
 	font-size: 12px;

 }


 .by ul li span{
 	color:#2fc1d8;
 	font-size: 12px;

 }
 .by ul{
 	list-style: none;
 	width: auto;
 	float: right;
 	padding-bottom: 0px;
 	padding: 0px 2px;


 }

 .by ul li{
 	width: auto;
 	float: left;
 	padding: 0px 3px;
 	font-size: 12px;
 }
  .from-topc-box{
 	color: #616161;
 	font-size: 12px;
 	}

 .from-topc-box span{
 	color: #2fc1d8;
 	font-size: 12px;
 }
 .new-entry{
 	padding-bottom: 1px;
 	font-size: 12px;
 }







.right-container{
	width: 176px;
	min-height: 606px;
	background-color: #f5f5f5;
	float: right;
	
}

.footer-wrapper{
	background-color:#727272;
	width: 100%;
}

.footer{
	width: 938px;
	margin:auto;
	color: #ffffff;
	padding-bottom: 14px;
	padding-top: 14px;
	
	background-color: inherit;
}

.footer-list{
	width: auto;
	float: left;
}
.copyright{
	width: auto ;
	float: right;
}
.copyright ul{
	list-style:none;
}
.copyright ul li{
	font-size: 10px;
}

.footer-list ul{
list-style: none;
}

.footer-list ul li{
 width: auto;
 float: left;

}
.footer-list ul li a{
	color: #ffffff;
	padding-right: 5px;
 	padding-left: 5px;
 	font-size: 10px;
}


.footer-list ul li::after { 
    content: url("../images/dot.png");
}

.footer-list ul li:last-child::after{
	content: none;
}