@media only screen and (min-width: 768px){
.main-container-wrapper{
	width: 100%;
	min-width: 62.625em;
	
}
 .header-top-content{
 	width: 58.625em;
 	margin: auto;
 	
 }


.body-wrapper{
	width: 58.625em;
	margin: auto;
}

.col3-left{
	width:58.625em;
	margin: 3.198294243070362% auto;
}
 
.left-container{
	width: 78.67803837953092%;
	float:left;

}
.middle-container{
	width: 70.18970189701897%;
	float: right;
	background-color: #fefffd;
}

.small-left-container{
	width: 26.28726287262873%;
	float: left;
	min-height: 606px;
	background-color: #f5f5f5;
	display: inline;
}




.footer-wrapper{
	background-color:#727272;
	width: 100%;
}

.footer{
	width:58.625em;
	margin:auto;
	color: #ffffff;
	padding-bottom: 17px;
	padding-top: 17px;
	font-size: 8px;
}

}